.body {
  font-family: 'Inconsolata', monospace;
}

svg{
  z-index: 9;
}

.link {
    fill: none;
/*
    stroke-width: 1px;
    stroke: #333;
*/
    z-index: 9;
    opacity: 0.9;
}


.section {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  width: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 20px 40px;
  padding: 10px 20px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  height: 600px;
}

.home-text-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  min-width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.button {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 12px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: aliceblue;
  opacity: 0.5;
  border: 0.5px solid white;
}

#finish {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
  font-size: 12px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: aliceblue;
  border: 0.1px solid white;
}

.field-label {
  margin-right: 10px;
  margin-left: 10px;
}

.content-container {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px 0px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 0px;
}

.textarea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100.017143%;
  min-height: 450px;
  min-width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;    
  background-color: transparent;
  color: aliceblue;
}

.form {
  min-width: 100%;
  text-align: center;
}